@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.center-cover {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  animation: fadein 0.5s;
}

#beach-img {
  background: url('beach.jpg') no-repeat center center fixed;
}
